---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "../bower_components/bourbon/app/assets/stylesheets/bourbon",
        "../bower_components/neat/app/assets/stylesheets/neat.scss",
        "layout-new",
        "variables",
        "nav",
        "header",
        "page-header",
        "subnav",
        "cards",
        "parallax",
        "footer",
        "player",
        "grid-items"
;

body {
  margin: 0;
  color: #333;
  font-family: $helvetica;
  background: #eee;
}
$action-color: orange;
$base-border-radius: 4px;
$base-spacing: 10px;
#{$all-buttons} {
  appearance: none;
  background-color: $action-color;
  border: 0;
  border-radius: $base-border-radius;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: $base-spacing;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: shade($action-color, 20%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }
}
button a {
  color: #fff;
  text-decoration: none;
}
