---
layout: default
---

<div class="home-albums">

  <h1 class="page-heading">MP3 Album Downloads</h1>

  <p>
    <b>Don't want to wait? Need the music now?</b>
  </p>

  <p>
    Well that's exactly what you can do! How about that?
  </p>

  <div class="cards">
    {% for album in site.albums %}
    {% include cards.html %}
    {% endfor %}
  </div>

</div>

<div class="home-discs">

  <h1 class="page-heading">Compact Discs</h1>

  <p>
    <b>Would you rather have a CD of your own, to have and to hold?</b><br>
    <br>
    I'll send it right on over.
  </p>

  <div class="cards">
    {% for album in site.cds %}
    {% include cards.html %}
    {% endfor %}
  </div>

</div>

<div class="home-dvd">

  <h1 class="page-heading">DVD's</h1>
  <p>
    <strong>Time for an addition to your training resources library??</strong>
  </p>
  {% include grid-items.html %}

</div>

<div class="home-bundle">

  <h1 class="page-heading">Bundles</h1>
  <p>
    <strong>Have you heard about my Special Bundle Deal!?</strong>
  </p>
  <p>
    Sale: Human Services Training Videos & Music
  </p>
  {% for album in site.bundles %}
  {% include cards.html %}
  {% endfor %}

</div>

<div id="js-parallax-window" class="parallax-window">
  <div class="parallax-static-content">
    <h2>Peter Leidy</h2>
    <p>
      Many valued customers find my CD’s are appropriate for Columbus Day, Yom Kippur, Canadian Thanksgiving, National Boss Day, (Eid) al Fitr, United Nations Day, the end of Daylight Savings Time, Halloween, All Saints Day, Day of the Dead, many people’s birthdays, Veterans Day, American Thanksgiving, and other Fall and Winter gift-giving holidays.
    </p>
    <h3>
      Schedule your workshop today <button type="button" name="button"><a href="http://peterleidy.com/direct-support-professionals/contact/">Get Started</a></button> ... and like my <button type="button" name="button"><a href="https://www.facebook.com/PeterLeidyConsultationWorkshopsKeynotesSinging">Facebook Page</a></button> will ya?
    </h3>
  </div>
  <div id="js-parallax-background" class="parallax-background"></div>
</div>
