---
layout: default
---

<div id="album-downloads" class="page-header page-title">
  <h1>Store</h1>
</div>

<div class="home-albums">

  <!-- cd cart -->
  <script src="https://cashmusic.org/public/cashmusic.js" data-element="10299"></script>

</div>

<div id="bundles" class="section-header page-title">

  <h1 class="page-heading">Bundles</h1>

</div>

<div class="home-bundle">

  <div class="cards">

    <div class="card">
      <div class="card-copy" style="text-align: center;">

        <h1 style="line-height: 1.2em; color: #4f2614;"><i>Have you heard about my Special Bundle Pricing!?</i></h1>
        <h2 style="line-height: 1.2em; color: #4f2614;"><i>All 5 CDs and both DVDs just $100!! You can order these as digital downloads or physical copies that I can ship the old fashioned way, right to your doorstep!</i></h2>
        <h2>“How do I get these!??”</h2>
        <h2>So easy. Order right here!!</h2>
        <img class="desktop-arrow" src="{{site.baseurl}}/public/images/arrow_right.png" alt="Order right here!!">
        <h2 style="line-height: 1.2em; color: #0091BA;">
          Just $100 US Dollars (plus shipping if you order physical copies)
        </h2>

      </div>
    </div>

    {% for album in site.bundles %}
    {% include cards.html %}
    {% endfor %}

  </div>

</div>

<div id="js-parallax-window" class="parallax-window">
  <div class="parallax-static-content">
    <h2>Peter Leidy</h2>
    <p>
      Many valued customers find my CD’s are appropriate for Columbus Day, Yom Kippur, Canadian Thanksgiving, National Boss Day, (Eid) al Fitr, United Nations Day, the end of Daylight Savings Time, Halloween, All Saints Day, Day of the Dead, many people’s birthdays, Veterans Day, American Thanksgiving, and other Fall and Winter gift-giving holidays.
    </p>
    <h3>
      Schedule your workshop today <button type="button" name="button"><a href="http://peterleidy.com/direct-support-professionals/contact/">Get Started</a></button> ... and like my <button type="button" name="button"><a href="https://www.facebook.com/PeterLeidyConsultationWorkshopsKeynotesSinging">Facebook Page</a></button> will ya?
    </h3>
  </div>
  <div id="js-parallax-background" class="parallax-background"></div>
</div>
