---
layout: default
---

<div class="home">

  {% for page in site.albums limit:1 %}
  <a href="{{page.url}}">

    {% include feature.html display='none' %}

  </a>
  {% endfor %}

</div>

<div class="home-albums">

  <h1 class="page-heading">Albums</h1>

  <div class="cards">
    {% for page in site.albums %}
    {% include cards.html %}
    {% endfor %}
  </div>

</div>

<div id="js-parallax-window" class="parallax-window">
  <div class="parallax-static-content">
    <b>Info</b>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
  <div id="js-parallax-background" class="parallax-background"></div>
</div>

<div class="home-bundle">

  {% for page in site.bundles limit:1 %}
  <a href="{{page.url}}">

    {% include feature.html %}

  </a>
  {% endfor %}

</div>
