<div class="side-image">

    <div class="images-wrapper" style="background: url('{{page.img | prepend: site.baseurl }}') center no-repeat;background-size: cover;"></div>
    <div class="side-image-content">
      <h4>{{page.category}}</h4>
      <h1>{{page.title}}</h1>
      <p>{{page.summary}}</p>

        <button style="display:{{include.display}}" type="button" name="button">mp3</button>
        <button style="display:{{include.display}}" type="button" name="button">CD</button>

    </div>

</div>
