<footer class="footer" role="contentinfo">

  <div class="footer-links">
    <ul>
      <li>
        <img src="{{ site.baseurl }}/public/images/keynote-speaker2011.jpg" alt="" />
      </li>
      <li><h3>Contact Info</h3></li>
      <li>Peter Leidy<br/>
2922 Lakeland Ave<br/>
Madison, WI  53704<br/></li>
      <li>(608) 335-4039</li>
      <li><a href="mailto:peterleidy@yahoo.com" rel="moc/oohay//ydielretep">peterleidy@yahoo.com</a></li>
    </ul>
    <ul>
      <li><h3>WHERE’S PETE?</h3></li>
      <li>
        <a title="Link to Calendar" href="http://peterleidy.com/direct-support-professionals/speaking-and-workshop-schedule/">
          <img class=" alignleft" src="{{ site.baseurl }}/public/images/calendar.png" alt="calendar icon">
        </a>
      </li>
      <li><a href="http://peterleidy.com/direct-support-professionals/speaking-and-workshop-schedule/">Check the: Schedule Page!</a></li>
    </ul>
    <ul>
      <li><h3>Read About ...</h3></li>
      <li id="menu-item-241" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-241"><a href="http://peterleidy.com/keynote-speaking/">Training &amp; Consulting</a></li>
<li id="menu-item-144" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-144"><a href="http://peterleidy.com/direct-support-professionals/">Consulting with Teams &amp; Families</a></li>
<li id="menu-item-145" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-145"><a href="http://peterleidy.com/keynote-speaking/">Conference Speaking</a></li>
    </ul>
  </div>

  <hr>

  <p>© 2016 Peter Leidy</p>
</footer>
