<footer class="footer" role="contentinfo">

  <div class="footer-links">
    <ul>
      <li>
        <img src="{{site.baseurl}}/public/images/keynote-speaker2011.jpg" alt="" />
      </li>
      <li><h3>Contact Info</h3></li>
      <li>Peter Leidy<br/>
2922 Lakeland Ave<br/>
Madison, WI  53704<br/></li>
      <li>(608) 335-4039</li>
      <li><a href="mailto:peterleidy@yahoo.com" rel="moc/oohay//ydielretep">peterleidy@yahoo.com</a></li>
    </ul>
    <ul>
      <li><h3>WHERE’S PETE?</h3></li>
      <li><a href="http://peterleidy.com/direct-support-professionals/speaking-and-workshop-schedule/">Check the: Schedule Page!</a></li>
      <li><a href="javascript:void(0)">Date Two</a></li>
      <li><a href="javascript:void(0)">Date Three</a></li>
    </ul>
    <ul>
      <li><h3>Social Links</h3></li>
      <li>
        <img src="{{site.baseurl}}/public/images/leidy-at-studio-2.jpg" alt="" />
      </li>
      <li><a href="javascript:void(0)">Link 1</a></li>
      <li><a href="javascript:void(0)">Link 2</a></li>
    </ul>
  </div>

  <hr>

  <p>Disclaimer area lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nostrum repudiandae saepe.</p>
</footer>
