<footer class="footer" role="contentinfo">

  <div class="footer-links">
    <ul>
      <li><h3>Contact</h3></li>
      <li>
        <img src="http://placehold.it/200x200" alt="" />
      </li>
      <li><a href="javascript:void(0)">Contact</a></li>
      <li><a href="javascript:void(0)">Info</a></li>
    </ul>
    <ul>
      <li><h3>Schedule</h3></li>
      <li><a href="javascript:void(0)">Date One</a></li>
      <li><a href="javascript:void(0)">Date Two</a></li>
      <li><a href="javascript:void(0)">Date Three</a></li>
    </ul>
    <ul>
      <li><h3>Social Links</h3></li>
      <li><a href="javascript:void(0)">Link 1</a></li>
      <li><a href="javascript:void(0)">Link 2</a></li>
    </ul>
  </div>

  <hr>

  <p>Disclaimer area lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nostrum repudiandae saepe.</p>
</footer>
