<div class="grid-items">
  <div class="grid-item grid-item-image seven-ways dvd-box">
    <script type="text/javascript"> window.cashmusic.embed('https://cashmusic.org/public','9484');</script>
    <h1>7 Ways To Prevent a Crisis</h1>

    <h2>$40.00</h2>

  </div>
  <div class="grid-item grid-item-image best-work dvd-box">
    <script type="text/javascript"> window.cashmusic.embed('https://cashmusic.org/public','9485');</script>
    <h1>Doing Our Best Work</h1>

    <h2>$40.00</h2>

  </div>
</div>
