<div class="grid-items">
  <div class="grid-item grid-item-image seven-ways">
    <img src="/public/images/dvd-art/prevent-a-crisis.jpg" alt="">
    <h1>7 Ways To Prevent a Crisis</h1>

    <h2>$40.00</h2>

    <p>
      Introducing <b>7 Ways to <del>Cause</del> Prevent a Crisis</b>, another training/conversation-prompting video peppered with humor, music, and overall quirkiness looking at the importance of paying attention to seven areas of support to reduce the likelihood of “challenging behavior” leading to crisis. You didn’t miss the trailer at the top of this page, did you?
    </p>

    <ol>
      <li>
        Build good relationships
      </li>
      <li>
        Make the good match
      </li>
      <li>
        Help supporters get to know the whole person
      </li>
      <li>
        Make truly person centered plans
      </li>
      <li>
        Make sure home feels like home
      </li>
      <li>
        Provide safety, comfort, and familiarity
      </li>
      <li>
        Listen for the person’s deepest needs and desires
      </li>
    </ol>

    <p>
      <button type="button" name="button">Download Video</button>
      <button type="button" name="button">Order DVD</button>
    </p>

  </div>
  <div class="grid-item grid-item-image best-work">
    <img src="/public/images/dvd-art/doing-our-best-work.jpg" alt="">
    <h1>Doing Our Best Work</h1>

    <h2>$40.00</h2>

    <p>
      In this 17-minute video, Peter looks at ten essential components of quality direct support. A video for training and discussion with people providing or coordinating direct support, Doing Our Best work is based on a workshop Peter offers, and its production was supported by the New Hampshire Council on Developmental Disabilities ( <a href="http://www.nhddc.org/">www.nhddc.org</a> )
    </p>

    <ol>
      <li>
        Believing in positive possibilities
      </li>
      <li>
        Building community relationships
      </li>
      <li>
        Listening deeply
      </li>
      <li>
        Working as a team
      </li>
      <li>
        Embracing curiosity
      </li>
      <li>
        Understanding the power of language
      </li>
      <li>
        Supporting people through relationships with them
      </li>
      <li>
        Asking “What brings out the best in this person?”
      </li>
      <li>
        Having power with, not power over
      </li>
      <li>
        Questioning structures and policies that limit people
      </li>
    </ol>

    <p>
      <button type="button" name="button">Download Video</button>
      <button type="button" name="button">Order DVD</button>
    </p>

  </div>
</div>
