{% if page.url == '/' %}
<div class="hero">
  <div class="hero-inner">
    <!-- <a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png
      " alt="Logo Image"></a> -->
    <div class="hero-copy">
      <h1>Store Title</h1>
      <p>A few reasons why this product is worth using, who it's for and why they need it.</p>
    </div>
  </div>
</div>
{% endif %}
<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="{{ site.baseurl }}/" class="navigation-menu logo">
      Home
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <!-- <li class="nav-link">
          {% for my_page in site.pages %}
            {% if my_page.title %}
            <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            {% endif %}
          {% endfor %}
        </li> -->
        <li class="nav-link">
          <a class="page-link" href="#">Store</a>
        </li>
        <li class="nav-link">
          <a class="page-link" href="#">Link</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
