{% if page.url == '/' %}
<div class="hero">
  <div class="hero-inner">
    <a href="" class="hero-logo">
      <img src="{{site.baseurl}}/public/images/peter-leidy-speaker.png" alt="Logo Image">
    </a>
    <!-- <div class="hero-copy">
      <h1>Human Serviceland Music</h1>
      <p>Learning from people with disabilities and those who support them since.</p>
    </div> -->
  </div>
</div>
{% endif %}
<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="{{ site.baseurl }}/" class="navigation-menu logo">
      Home
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <!-- <li class="nav-link">
          {% for my_page in site.pages %}
            {% if my_page.title %}
            <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            {% endif %}
          {% endfor %}
        </li> -->
        <li class="nav-link">
          <a class="page-link" href="http://peterleidy.com/who-is-this-guy/">Who is this guy?</a>
        </li>
        <li class="nav-link">
          <a class="page-link" href="http://peterleidy.com/direct-support-professionals/">What does he do?</a>
        </li>
        <li class="nav-link">
          <a class="page-link" href="http://peterleidy.com/human-services-endorsements/">What they say</a>
        </li>
        <li class="nav-link">
          <a class="page-link" href="http://peterleidy.com/speaking-and-workshop-schedule/">Speaking schedule</a>
        </li>
        <li class="nav-link">
          <a class="page-link current" href="http://store.peterleidy.com">Store</a>
        </li>
        <li class="nav-link">
          <a class="page-link" href="http://peterleidy.com/contact/">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
