<div>
  <a class="badge-link" href="#album-downloads">
    <span class="badge-notice">
      Album Downloads
    </span>
  </a>
  <a class="badge-link" href="#video-downloads">
    <span class="badge-notice">Video Downloads</span>
  </a>
  <a class="badge-link" href="#cds">
    <span class="badge-notice">CD's</span>
  </a>
  <a class="badge-link" href="#dvds">
    <span class="badge-notice">DVD's</span>
  </a>
  <a class="badge-link" href="#bundles">
    <span class="badge-notice">Bundles</span>
  </a>
</div>
