//body
body {
  background-color: #ca7c5d !important;
}
.page-content {
  @include outer-container(980px);
  background-color: #D1D6F3;
}
.cm-wrapper {
  background: url(../public/images/panoramic_fullbg.png);
  background-size: cover;
}
// Home
.home,
.home-bundle {
  @include outer-container;
  @include pad(30px 0px);
  .side-image {
    @include span-columns(12);
  }
}
.home-albums,
.other-albums,
.home-dvd,
.home-discs,
.home-bundle {
  @include outer-container;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  // remove unwanted gap in store headers on index page
  h1 {
    margin-top: 0px;
  }
  .cards {
    margin-left: -1em;
    margin-right: -1em;
  }
}
.post-content.album {
  @include pad(30px 0px);
}
section {
  @include outer-container;
  article {
    @include span-columns(12);
  }
}
// player on album pages
.album-page {
  .player,
  .album-desc {
    @include span-columns(6 of 12);
    @include pad(20px);
    @include media(min-width 320px max-width 480px) {
      @include span-columns(12);
    }
  }
}
