$parallax-window-height: 30em;
$parallax-background-height: $parallax-window-height * 2;

.parallax-window {
  max-height: $parallax-window-height;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.parallax-static-content {
  color: #fff;
  padding: 8em 0;
  position: relative;
  z-index: 9;
}

.parallax-background {
  background: linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
      ),
      url("../public/images/p-on-stage.jpg") repeat;
  background-position: top;
  background-size: cover;
  background-color: beige;
  height: $parallax-background-height;
  left: 0;
  position: absolute;
  top: - $parallax-window-height / 1.6;
  width: 100%;
}

// Based on http://codepen.io/skeurentjes/
.parallax-static-content {
  @include outer-container;
  padding-top: 5em;
  padding-bottom: 5em;
}
