// .cashmusic.soundplayer.playlist {
//   margin-left: -7px;
// }

div.cashmusic.soundplayer.playlist.toggletracklist {
  display: none;
}
div.cashmusic.soundplayer.playlist.nowplaying,
div.cashmusic.soundplayer.playlist.playtime {
  display: none;
}
div.cashmusic.soundplayer.playlist.container {
  margin-bottom: 10px;
}
// player seek
div.cashmusic.soundplayer.playlist.seekbarcontainer {
    height: 24px;
    width: 82%;
    right: -35px;
    float: left;
}
div.cashmusic.soundplayer.playlist.controls {
    float: left;
    margin-top: -24px;
}

div.cashmusic.soundplayer.playlist.position {
    height: 30px;
}

div.cashmusic.soundplayer.playlist.seekbar {
    height: 30px;
}

div.cashmusic.soundplayer.playlist.prevtrack {
    display: none;
}

div.cashmusic.soundplayer.playlist.nexttrack {
    display: none;
}
div.cashmusic.soundplayer.playlist.tracklist {
  visibility: hidden;
  padding-top: 0px;
  height: 0px !important;
}
