---
layout: default
---
<section>

  <article class="post">

    <div class="post-content album">
      {{ content }}
    </div>
    <div class="player">
      <div class="cashmusic soundplayer playlist"
        data-playlist='{
          "id":"{{page.category}}",
          "artist":"Peter Leidy",
          "album":"Album title",
          "tracks":[
            {"id":"unique1","title":"{{page.track1}}","url":"{{site.baseurl}}{{page.stream1}}"},
            {"id":"unique2","title":"Song title 2","url":"path/to/song2.mp3"}
          ]
        }'
      ></div>
      <p>
        <button style="display:{{include.display}}" type="button" name="button">mp3</button>
        <button style="display:{{include.display}}" type="button" name="button">CD</button>
      </p>
    </div>
    <div class="album-desc">
      <h2>
        {{page.title}}
      </h2>
      <p>
        {{page.summary}}
      </p>
    </div>
  </article>

</section>

<div class="other-albums">
  <h1 class="page-heading">Albums</h1>

  <div class="cards">
    {% for album in site.albums %}
    {% if album.url == page.url = nil %}
    {% else %}
    {% include cards.html %}
    {% endif %}
    {% endfor %}
  </div>
</div>
